
<div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading"><h4><strong>Ödünç Kitap Sistemi</strong></h4> </div>
    <div class="list-group list-group-flush">
        <a href="/Dashboard/Index" class="list-group-item list-group-item-action bg-light"><strong>Dashboard</strong></a>
        <a href="/Tur/Index" class="list-group-item list-group-item-action bg-light"><strong>Tür İşlemleri</strong></a>

        <a href="/Yazar/Index" class="list-group-item list-group-item-action bg-light"><strong>Yazar İşlemleri</strong></a>
        <a href="/Kitap/Index" class="list-group-item list-group-item-action bg-light">
            <strong>
                Kitap İşlemleri
                <span class="badge badge-info right" style="background-color:red;">@TempData["ToplamKitapSayisi"]</span>
            </strong>
        </a>
        <a href="/OduncIslem/Index" class="list-group-item list-group-item-action bg-light"><strong>Ödünç İşlemler</strong></a>
        <a href="/Uye/Index" class="list-group-item list-group-item-action bg-light"><strong>Üye İşlemleri</strong></a>
        <a href="/Personel/Index" class="list-group-item list-group-item-action bg-light"><strong>Personel İşlemleri</strong></a>
    </div>
</div>
