
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-default" style="background-color:powderblue; height:150px">
            <div class="inner">
                <br />
                <h4  style="color:red"align="center">Bugün Eklenen Kitaplar</h4>
                <h1   style="color:red" align="center">
                    @ViewBag.BugunEklenenKitapSayisi
                </h1>
            </div>
            <div class="icon">
                <i class="ion ion-bag"></i>
            </div>
          
        </div>


    </div>
</div>



